<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxt.Auser.mapper.WordsMapper" >
  <resultMap id="BaseResultMap" type="com.sxt.Auser.domain.Words" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="foruser" property="foruser" jdbcType="VARCHAR" />
    <result column="forarticleid" property="forarticleid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, content, date, foruser, forarticleid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from words
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from words
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sxt.Auser.domain.Words" >
    insert into words (id, username, content, 
      date, foruser, forarticleid
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{foruser,jdbcType=VARCHAR}, #{forarticleid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sxt.Auser.domain.Words" >
    insert into words
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="foruser != null" >
        foruser,
      </if>
      <if test="forarticleid != null" >
        forarticleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="foruser != null" >
        #{foruser,jdbcType=VARCHAR},
      </if>
      <if test="forarticleid != null" >
        #{forarticleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxt.Auser.domain.Words" >
    update words
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="foruser != null" >
        foruser = #{foruser,jdbcType=VARCHAR},
      </if>
      <if test="forarticleid != null" >
        forarticleid = #{forarticleid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxt.Auser.domain.Words" >
    update words
    set username = #{username,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      foruser = #{foruser,jdbcType=VARCHAR},
      forarticleid = #{forarticleid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 查询所有的留言信息 -->
  <select id="queryAllWordsInfo" resultMap="BaseResultMap">
  	select 
  <include refid="Base_Column_List" />
    from words
  </select>
  
  
  
</mapper>